::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

.dark {
    --scrollbar-track-color: var(--dark-scrollbar-track-color); 
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 4px;
}
