:root {
    --primary-color: #ff9f9f;
    --background-color: #dfdfdf;
    --dark-background-color: #131419;

    --text-primary: #000000;
    --dark-text-primary: #ffffff;

    --scrollbar-track-color: #ffffff;
    --dark-scrollbar-track-color: #1b1b22;
}
