:root {
    --primary-color: #ffb4b4;
    --background-color: #dfdfdf;
    --text-primary: #000000;
    --scrollbar-track-color: #ffffff;
}

.dark:root {
    --background-color: #131419;
    --text-primary: #ffffff;
    --scrollbar-track-color: #1b1b22;
}
